<html>
    <head>
        {{!-- <h1>Weather</h1> --}}
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <link rel="stylesheet" href="/css/styles.css">
            <p>Use this site to get your weather!</p>
        </div>
        {{>footer}}
        
    </body>
</html>