{{!-- //this is the header which we gonna display in all wepages --}}


<header>
    <h1>{{title}}</h1>

    <a href= "/">Home</a>
    <a href = "/about">About</a>
    <a href = "/help_">Help</a> 
    <a href = "/weather">Weather</a>
</header>

